# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# Archives
*.zip

# Office files
*.docx
*.xlsx
*.xls

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Env
.env
.env.*
